API_ID=27758016
API_HASH=8d34cfffe27ab461eabbf0091b1a27df
BOT_TOKEN=7697813860:AAGH_1x9zwCFJaF240elUe4S7MTVs4nII5g
LOGGER_ID=-1002251188406
MONGO_DB_URI=mongodb+srv://architect2002:architect2002@cluster0.ccinu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7252249791
STRING_SESSION=BQC86fAAND0flOEfjBF5PpAhKlUACkL9CEzsoy-ZxaLOfZvCClQlOId6WR_9E6Y6LgLoNLug7_pbyiPH5tNx8GuNvWrpyG0xrzy_cTEKey4sO0nV4pXPBmDQSnnJPrAscT0P7Ws9Kd118E2TAfNXlYSYka3tHSV6W6HludAP8MGKsdgstorEuQGnW_DQKivcHrQCSuRsUXXs8TC1NU650roAc59XG2wQDsOwvH5PCMD6qcOHjScUDe260Eg0Krwh59EMLo6YHQbCmBWqVasnG5LYFueiWnQB2CZuKSoFVZ9clRdmpwPfpyYOtH1J9GJb2ectceF1NXR-QZfiSNaqgPzcXzyykgAAAAGy00lqAA
