API_ID=27758016
API_HASH=8d34cfffe27ab461eabbf0091b1a27df
BOT_TOKEN=7024004068:AAFdWPJoXkYPPCv7lkmdZ6K0KdzaD1HdAK8
LOGGER_ID=-1002286552790
MONGO_DB_URI=mongodb+srv://architect2002:architect2002@cluster0.ccinu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7823100937
STRING_SESSION=BQC86fAAV-nB8GtUcLqAYzZyQkzWuOOlCUNQwLHaWSd_HXhq6lD-txYgA2CR-OU4SgRe5nFvsf-fLE6gCsKGjCGHn6k1uO9snI1NPmHd9HV_3FQlHTWX5pjPK3WOf3YMajc2vvXq0YRLLCsPRTZOhLy_HwRwO5oe5GKTlrM8S7FXwKiTD4FZf35Cy8tyO19yfQ8vpKvAAjaQOgivaodr11ilSEBVpP2wCJMUre7cRsc0XD9yP8K8ET-o8sINnWYPRusm7Y-d1HT1sZjlGvqGewK-5xrE9ON2KhCiAtRk42j11xDmSsx5JDyX47321VMFgHqWxZzgYZKz7m21KZQyFwGY-AfhvwAAAAGzXepPAA
